<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>SMS - Django</title>
    <style media="screen">
      .jumbotron {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

      .jumbotron h1 {
        text-align: center;
        font-weight: bold;
      }

      .alert {
        margin: 0px;
      }
      .p-font {
        font-size: 35px;
      }
    </style>
  </head>

  <body>
    {% include "school/navbar.html" %} {%block content%} {%endblock content%}
    <br />
    {% include "school/footer.html" %}
  </body>
</html>
