<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style type="text/css">
      .bs-example {
        margin: 0px;
      }

      .navbar-brand {
        font-size: 20px;
        font-family: sans-serif;
      }
      .img-size{
        width: 55px;
      }
      .h1-text
      {
        color:white;
      }
    </style>
  </head>

  <body>
    <div class="bs-example">
      <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
        <a href="/" class="navbar-brand ml-5"><img src="/static/images/logo.png" alt="" class="img-size"></a>
        <h5 class="h1-text">Mannan Model Academy</h5>

        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav"></div>

          <div class="navbar-nav ml-auto mr-5">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/adminclick" class="nav-item nav-link active">Admin</a>
            <a href="/teacherclick" class="nav-item nav-link active">Teacher</a>
            <a href="/studentclick" class="nav-item nav-link active">Student</a>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
