.jumbotron {
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('{% static "images/EmpClass.jpg" %}');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  text-align: center;
}

.alert {
  margin: 0px;
}

.glow {
  font-size: 90px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
